;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cljs-ajax "0.8.0"]
  [day8.re-frame/http-fx "v0.2.0"] ;; TODO: 0.2.1? remove unused deps
  [metosin/reitit "0.5.5"]
  [re-frame "1.1.1"]
  [datascript "1.0.3"]
  [datascript-transit "0.3.0"]
  [re-posh "0.3.2"]]

 :dev-http {8142
            {:root "public"}}

 :builds
 {:app
  {:target :browser

   :modules {:main {:init-fn geo-detentions.app/init!}}

   :release {:compiler-options {:optimizations :simple}
             :closure-defines {geo-detentions.config/APP-PREFIX "/geo-detentions"}
             :output-dir "docs/js"
             }}}}
